.sell-main {
  padding: 50px 0px;
  background-color: var(--primary);
}

.properties-on-sale {
  background-color: var(--primary);
  padding: 20px;
  margin: 50px 10px 0px;
  border-radius: 20px;
  border: var(--border);
}
.sell-heading {
  font-size: 2em;
  color: var(--blue-shade);
}

.sell-title {
  color: var(--blue-shade);
}
.sell-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  background-color: var(--primary);
  padding: 50px 20px;
  border-radius: 20px;
  border: 1px solid var(--border);
}

.sell-card {
  background-color: var(--primary);
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 20px;
  width: 330px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.sell-span {
  color: var(--blue-shade);
  font-weight: 700;
  font-size: 1.2;
}
.sell-p {
  font-weight: 600;
}
