.dashboard-body {
  background-image: url("/public/assets/pexels-pixabay-162539.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.main-container {
  background-color: var(--primary);
  padding-bottom: 100px;
}

.home-main-sec {
  display: flex;
  padding: 50px;
}
.home-p {
  font-size: 1.1em;
  margin-bottom: 5px;
}
.home-h1 {
  font-size: 2.1em;
  color: var(--blue-shade);
}
.home-h4 {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 25px;
}

.show-sec {
  width: 100%;
  height: 120px;
  margin-top: 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 900;
  color: var(--white);
  border: solid 1px var(--blue-shade);
  background-color: var(--secondary);
}

.show-sec:hover {
  transition: all 1s ease;
  background-color: var(--primary-dark);
  border: var(--border) solid 1px;
  color: var(--blue-shade);
}

.home-sub-sec {
  display: flex;
  flex-direction: column;
}
.main-text-sec {
  background-color: var(--primary-dark);
  padding: 30px;
  height: fit-content;
  margin-top: 10px;
  border-radius: 20px;
  border: var(--border) 1px solid;
}
.main-img-sec {
  margin-left: 50px;
}

.home-main-img {
  border-radius: 20px;
}

.home-link {
  text-decoration: none;
}
.add-prop-btn {
  margin-top: 15px;
  border: none;
  font-weight: 500;
  background-color: var(--blue-shade);
  color: var(--white);
  border-radius: 10px;
  height: 45px;
  width: 200px;
}

.add-prop-btn:hover {
  background-color: var(--white);
  color: var(--blue-shade);
  transition: all 0.5s ease;
  border: solid 1px var(--border);
}
.main-btn-sec {
  display: flex;
  flex-wrap: wrap;
}

.main-nav-btn {
  width: 250px;
  font-size: 1.13em;
  margin: 10px 5px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: var(--primary-dark);
  border: var(--border) 1px solid;
  border-radius: 5px;
  color: var(--blue-shade);
}

.main-nav-btn:hover {
  background-color: var(--white);
}

.explore-sec {
  background-color: var(--primary);
  margin: 20px 20px 0px;
  padding: 20px 20px 40px;
}
