.property-background {
  background-image: url("/pexels-pixabay-162539.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.property-main {
  background-color: var(--primary);
}

.property-sec {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  padding: 50px;
}
