.property-background {
  background-image: url("/public/assets/pexels-pixabay-162539.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.property-main {
  background-color: var(--primary);
}
.prop-heading {
  color: var(--blue-shade);
  padding-top: 50px;
  margin-bottom: 0px;
}
.property-sec {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
