.nav-main {
  display: flex;
  background-color: var(--dark_grey);
  color: var(--white);
  padding: 10px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 1px var(--white);
  z-index: 10;
}

.nav-logo {
  font-size: 1.4em;
  font-weight: 700;
}

.nav-ul {
  display: flex;
  margin-right: 20px;
  margin-bottom: 0;
}

.nav-li {
  padding: 8px 15px;
  margin: 0px 2px;
}

.nav-li:hover {
  background-color: black;
  color: yellow;
}

.active-link {
  color: yellow;
  background-color: black;
}
