@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
  scrollbar-width: none;
  list-style: none;
}

:root{
  --dark_grey: rgb(27, 25, 25);
  --white: white;
  --red: red;
  --background: #F7F7F7;
  --green-dark: rgb(43, 101, 43);
  --shadow: rgba(0, 0, 0, 0.1);
  --border: #ccc;
}

.link{
  text-decoration: none;
  color: var(--white);
}